.breadcrumb{
    background-color: $breadcrumb;
    padding: 1rem 0;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: center;

    > .dots-list{
        display: flex;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style: none;
        top: 40px;

        &:nth-child(1){
            left: 0;
            margin-top: -20px;
        }

        &:nth-child(2){
            left: 0;
        }

        &:nth-child(3){
            left: 0;
            margin-top: 20px;
        }

        &:nth-child(5){
            right: 0;
            margin-top: -20px;
        }

        &:nth-child(6){
            right: 0;
        }

        &:nth-child(7){
            right: 0;
            margin-top: 20px;
        }

        .dots{
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgba($secundary, .4);
            margin: 0 7px;
            animation: dotsOpacityAnim 5s infinite;

            &:nth-child(1){animation-delay: 0s;}
            &:nth-child(2){animation-delay: 0.2s;}
            &:nth-child(3){animation-delay: 0.3s;}
            &:nth-child(4){animation-delay: 0.4s;}
            &:nth-child(5){animation-delay: 0.5s;}
            &:nth-child(6){animation-delay: 0.6s;}
            &:nth-child(7){animation-delay: 0.7s;}
            &:nth-child(8){animation-delay: 0.8s;}
            &:nth-child(9){animation-delay: 0.9s;}
            &:nth-child(10){animation-delay: 1s;}
            &:nth-child(11){animation-delay: 1.1s;}
            &:nth-child(12){animation-delay: 1.2s;}
            &:nth-child(13){animation-delay: 1.3s;}
            &:nth-child(14){animation-delay: 1.4s;}
            &:nth-child(15){animation-delay: 1.5s;}
            &:nth-child(16){animation-delay: 1.6s;}
            &:nth-child(17){animation-delay: 1.7s;}
            &:nth-child(18){animation-delay: 1.8s;}
            &:nth-child(19){animation-delay: 1.9s;}
            &:nth-child(20){animation-delay: 2s;}
            &:nth-child(21){animation-delay: 2.1s;}
        }
        
    }

    > .content{
        > .list{
            display: flex;
            margin-bottom: 2rem;
    
            > .item{
                color: #fff;
                font-size: 12px;
                position: relative;

                &:not(:first-child){
                    margin-left: 1rem;
                    padding-left: 1rem;

                    &:before{
                        content: '•';
                        position: absolute;
                        left: 0rem;
                        font-weight: 700;
                    }
                }

                &.active{
                    color: $green-light;
                }

                &:hover{
                    opacity: .8;
                }
            }
        }

        > .line{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            > .title{
                color: #fff;
                font-size: 30px;
                font-weight: 700;
            }

            > a >.agendar{
                border-radius: 50px;
                border: none;
                padding: 1.5rem 3rem;
                background-color: $secundary;
                color: #fff;
                font-weight: 500;
                font-size: 12px;
                transition: .2s;

                &:hover{
                    background-color: $principal-light;
                }
            }
        }
    }

    @media screen and (max-width: 767px){
        > .content{
            > .list{
                justify-content: center;
            }

            > .line{
                flex-direction: column;

                > a {
                    margin-top: 2rem;
                }
            }
        }
    }
}