.header{
    background: url("#{$img}landing-page/bg.png");
    background-size: cover;
    padding: 4rem 0;

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: 300px;

            .image{width: 100%;}
        }

        .text{
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            align-items: center;

            .icon{
                margin: 0 2rem;
                width: 35px;
            }

            .link{
                text-decoration: none;
                color: #fff;

                &:hover{
                    opacity: .8;
                }
            }
        }
    }

    .form{
        width: 100%;
        background: #fff;
        border-radius: 20px;
        margin-top: 3rem;
        padding: 2rem 3rem;

        .title{
            text-align: center;
            font-weight: 700;
            font-size: 25px;
            margin-bottom: 2rem;
        }

        .desc-input{
            display: flex;
            flex-direction: column;
            font-weight: 600;
            font-size: 14px;
            position: relative;

            .icon{
                position: absolute;
                bottom: calc(17px + 1rem);
                width: 20px;
                left: 20px;
            }

            .input{
                width: 100%;
                padding: 1rem 2rem;
                border-radius: 15px;
                border: 1px solid #aaa;
                outline: none;
                transition: .3s;
                padding-left: 4rem;
                margin-bottom: 1rem;

                &:focus{
                    border-color: $secundary;
                    box-shadow: 0 2px 5px rgba($secundary, .3);
                }
            }

            .invalid-feedback{
                position: absolute;
                bottom: 0;
            }
        }

        .submit{
            width: 90%;
            border-radius: 100px;
            border: none;
            padding: 1.5rem 1rem;
            background: $button-gradient;
            color: #fff;
            margin-left: 5%;
            font-weight: 700;
            outline: none;

            &:hover{
                background: $secundary;
            }
        }

        .message{
            width: 100%;
            font-size: 10px;
            text-align: center;
            padding: .2rem 1rem;
            border-radius: 5px;
            border: 2px solid $secundary;
            background-color: $secundary;
            color: #fff;
            margin-bottom: 1rem;
            font-weight: 700;
            text-transform: uppercase;

            &.error{
                background-color: red;
                border: 2px solid red;
            }
            
        }

        &.was-validated{

            .input.invalid{
                border-color: #ff8181;

                &:focus{
                    border-color: $secundary;
                }
            }
        }
    }

    @media screen and (max-width: 992px){
        .content{
            flex-wrap: wrap;
            
            .logo{
                margin: auto;
                margin-bottom: 2rem;
            }

            .text{
                flex-direction: column;
                margin: auto;
                position: relative;

                .icon{
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                }

                .link{
                    position: relative;
                    margin-top: 1rem;
                    padding-left: 2rem;
                }
            }
        }

        .form{
            padding: 2rem;
        }
    }
}