.unidades-listagem{
    margin: 5rem 0;
    position: relative;

    .background{
        position: absolute;
        z-index: -1;
        top: -5rem;
        right: 0;
        max-width: 50%;
        max-height: calc(100% + 15rem);
    }

    .sub{
        font-weight: 100;
        font-size: 22px;
        margin: 0;
        text-align: center;
    }

    .title{
        margin-bottom: 4rem;
        font-weight: 700;
        text-align: center;
    }

    .list{
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        margin: 0 4rem;
        border-radius: 30px;
        box-shadow: 0 0 50px rgba($blue, .4);
        overflow: hidden;

        .item{
            flex: 0 0 50%;
            position: relative;
            transition: .2s;

            .top{
                position: relative;
                z-index: 3;

                .image-area{
                    width: 100%;
                    height: 400px;
                    overflow: hidden;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: transform .5s;

                    > .source{
                        width: 100%;
                        height: auto;
                        z-index: -10;
                        transition: transform .5s;
                    }
                }

                > .icon{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #fff;
                    border: 2px solid #ccc;
                    z-index: 20;
                    position: absolute;
                    bottom: -20px;
                    left: calc(50% - 20px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: .2s;

                    > .source{
                        max-width: 20px;
                        max-height: 20px;
                    }

                    &:after{
                        content: '';
                        width: 100%;
                        height: 0;
                        transition: height .2s;
                        background-color: $blue;
                        z-index: -1;
                        top: 0;
                        left: 0%;
                        position: absolute;
                    }
                }
            }

            .text-area{
                width: 100%;
                z-index: 2;
                font-weight: 700;
                text-align: center;
                background-color: #fff;

                .text{
                    padding: 2.5rem 0;
                    position: relative;
                    z-index: 2;
                    transition: .2s;
                }

                &:after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0px;
                    transition: height .2s;
                    background-color: $blue;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
            }

            .link{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 20;
            }

            &:not(:first-child){

                .text-area{
                    .text{
                        border-left: 1px solid #eee;
                    }
                }
            }

            &:hover{
                .top{
                    .image-area{
                        //transform: scale(.95);

                        .source{
                            transform: scale(1.2);
                        }
                    }

                    .icon{
                        
                        border-color: #fff;

                        .source{
                            filter: brightness(0) invert(1);
                        }

                        &:after{
                            height: 100%;
                        }
                    }
                }

                .text-area{
                    .text{
                        color: #fff;
                    }

                    &:after{
                        height: 100%;
                    }
                }
            }
        }
    }

}