//  CORES
$principal: #1A1F8A;
$principal-light: #182D94;
$secundary: #0FB1FC;
$button-gradient: linear-gradient(#14B9FF, #009CF3);
$button-gradient-hover: linear-gradient(#009CF3, #14B9FF);

//  FONTES
$font: 'Montserrat';

//  VARIAVEIS
$img: "../img/";