//  CORES
$principal: #1A1F8A;
$principal-light: #182D94;
$secundary: #0FB1FC;
$button-gradient: linear-gradient(#14B9FF, #009CF3);
$button-gradient-hover: linear-gradient(#009CF3, #14B9FF);

$yellow: #FFB800;
$blue: #2060D6;
$blue-gradient: linear-gradient(#02A7EB, #2654D2);
$purple: #633DA4;
$green: #25A888;
$cyan: #00C3CF;

//  FONTES
$font: 'Montserrat';

//  VARIAVEIS
$img: "/img/";