.index-page{

    .blue-area{
        background-color: $principal;
        padding: 4rem 1rem;
        color: #fff;
        text-align: center;
        padding-bottom: 7rem;
        
        .sub{
            font-size: 20px;
            font-weight: 100;
            margin: 0;
        }

        .title{
            margin: 0;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .tratamentos{
        margin-bottom: 2rem;
        margin-top: -5rem;

        background-image: url("#{$img}pages/home/tratamentos-bg.png");
        background-size: 50% calc(100% - 5rem);
        background-repeat: no-repeat;
        background-position: 0 5rem;
        padding-bottom: 10rem;
        z-index: 0;

        .content{

            .list{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap ;

                .item{
                    display: flex;
                    width: 50%;
                    height: 370px;
                    position: relative;
                    color: #fff;

                    &:after{
                        content: '';
                        width: 70px;
                        height: 70px;
                        position: absolute;
                    }

                    .left{
                        width: 50%;
                        flex: 0 0 50%;
                        position: relative;
                        overflow: hidden;
                        z-index: 2;

                        .back{
                            z-index: 0;
                            transition: transform .3s;
                            min-width: 100%;
                            height: 100%;
                            width: unset;
                            min-height: 100%;
                            position: absolute;
                            z-index: -1;
                        }

                        .text{
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            z-index: 2;
                            font-weight: 700;
                            font-size: 26px;
                            padding: 4rem;
                        }
                    }

                    .right{
                        position: relative;

                        .text{
                            padding: 4rem 2rem;
                            font-weight: 100;
                            font-size: 13px;
                            line-height: 25px;
                        }
                    }

                    .more{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding-left: 1rem;
                        font-weight: 700;
                        z-index: 3;

                        button{
                            background-color: #fff;
                            border: none;
                            width: 70px;
                            height: 70px;
                            font-size: 30px;
                            color: $yellow;
                            margin-left: 1rem;
                        }
                    }

                    .link{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 20;
                    }

                    &.yellow{
                        background-color: $yellow;
                        border-radius: 30px 0 0 0;

                        .left{
                            overflow: hidden;
                            border-radius: 30px 0 0 0;
                        }

                        &:after{
                            content: '';
                            background-color: $yellow;
                            left: -70px;
                            bottom: 0;
                        }

                        .more button{
                            color: $yellow;
                        }
                    }

                    &.blue{
                        background: $blue-gradient;
                        flex-direction: row-reverse;
                        border-radius: 0 30px 0 0;

                        .left{
                            overflow: hidden;
                            border-radius: 0 30px 0 0;
                        }

                        &:after{
                            content: '';
                            background-color: $blue;
                            right: -50px;
                            bottom: 70px;
                            width: 50px;
                            height: 50px;
                        }

                        .more button{
                            color: $blue;
                        }
                    }

                    &.purple{
                        background-color: $purple;
                        flex-direction: row-reverse;
                        border-radius: 0 0 0 30px;

                        .right{
                            overflow: hidden;
                            border-radius: 0 0 0 30px;
                        }
                    
                        &:after{
                            content: '';
                            background-color: $purple;
                            left: calc(50% - 40px);
                            bottom: -40px;
                            width: 40px;
                            height: 40px;
                        }

                        .more button{
                            color: $purple;
                        }
                    }

                    &.green{
                        background-color: $green;
                        border-radius: 0 0 40px 0;

                        .more{
                            overflow: hidden;
                            border-radius: 0 0 30px 0;
                        }

                        .more button{
                            color: $green;
                        }
                    }

                    &:hover{
                        filter: brightness(90%);

                        .left{
                            .back{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    .about{
        margin-bottom: 5rem;

        .content{
            display: flex;

            > div{
                flex: 0 0 50%;
            }

            .left{
                padding-right: 5rem;
                display: flex;
                flex-direction: column;

                .sub{
                    font-weight: 100;
                    font-size: 22px;
                    margin: 0;
                }

                .title{
                    margin-bottom: 4rem;
                    font-weight: 700;
                }

                .desc{
                    line-height: 30px;

                    &.strong{
                        margin: 3rem 0;
                        font-weight: 700;
                    }
                }

                > a{
                    text-align: center;
                }

                .agendar{
                    background: $button-gradient;
                    border-radius: 50px;
                    border: none;
                    padding: 1.5rem 3rem;
                    color: #fff;
                    font-weight: 600;

                    &:hover{
                        background: $button-gradient-hover;
                    }
                }
            }

            .right{
                display: flex;
                align-items: center;

                .image{
                    position: absolute;
                    right: 0;
                    width: 50%;
                    margin-top: -5%;
                }
            }
        }
    }

    .unidades{
        margin: 5rem 0;

        .sub{
            font-weight: 100;
            font-size: 22px;
            margin: 0;
            text-align: center;
        }

        .title{
            margin-bottom: 4rem;
            font-weight: 700;
            text-align: center;
        }

        .list{
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            margin: 0 4rem;
            border-radius: 30px 30px 0 0;
            overflow: hidden;

            .item{
                flex: 0 0 50%;
                position: relative;
                padding-top: 400px;

                .image-area{
                    width: 100%;
                    height: 400px;
                    overflow: hidden;
                    z-index: -20;
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                    .source{
                        width: 100%;
                        height: auto;
                    }
                }

                .text-area{
                    width: 100%;
                    z-index: 20;

                    .icon{
                        width: 40px;
                        height: 40px;
                        background-color: #fff;
                        border-radius: 50%;
                        border: 1px solid #ddd;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        margin: auto;
                        margin-top: -20px;
                        z-index: 20;

                        .source{
                            max-width: 20px;
                            max-height: 20px;
                        }
                    }
                }
            }
        }

    }

    @media screen and (max-width: 992px){
        .blue-area{
            padding: 2rem 1rem;
            text-align: left;

            .title{
                margin-top: 1rem;
            }
        }

        .tratamentos{
            margin: 0;
            background-size: 100%;
            background-position: 90% 95%;
            
            .content{
                padding: 0;

                .list{
                    flex-direction: column;

                    .item{
                        width: 100%;
                        flex-wrap: wrap;
                        height: unset;

                        &, .left, .right, .more{
                            border-radius: 0 !important;
                        }

                        .left{
                            width: 100%;
                            flex: 0 0 100%;

                            .back{
                                min-height: 100%;
                                height: auto;
                                width: 100%;
                                top: -80%;
                            }

                            .text{
                                padding: 4rem 2rem;
                                justify-content: flex-start;
                            }
                        }

                        &:after{
                            display: none;
                        }

                        
                    }
                }
            }
        }

        .about{
            .content{
                .left{
                    width: 100%;
                    flex: 0 0 100%;
                    padding: 0;
                }

                .right{
                    display: none;
                }
            }
        }
    }
}