.landing-page{
    background-color: $principal;

    .colors-list{
        .list{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: center;

            .item{
                width: 25%;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: darken($secundary, 10%);

                .link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
                
                .background{
                    width: 100%;
                    height: auto;
                    min-height: 100%;
                    transition: .3s;
                }

                .text{
                    position: absolute;
                    color: #fff;
                    font-weight: 700;
                    font-size: 30px;
                    text-align: center;
                    transition: .3s;
                }

                &:after{
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-left: 10px solid #fff;
                    border-bottom: 10px solid #fff;
                    bottom: 10px;
                    left: 10px;
                    opacity: 0;
                    transition: .3s;
                    z-index: 1;
                }

                &:hover{
                    .background{
                        filter: brightness(120%);   
                        transform: scale(1.1);
                    }

                    .text{
                        transform: scale(1.1);
                    }
                    
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
    }

    .contact{
        padding: 3rem 0;
        background: url("#{$img}pages/landing-page/contact-detail.png");
        background-size: cover;

        .title{
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            position: relative;
            padding-bottom: 5rem;
            display: flex;
            justify-content: center;

            .dots-list{
                display: flex;
                position: absolute;
                bottom: 4rem;
                padding: 0;
                margin: 0;
                list-style: none;

                .dot{
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #fff;
                    margin: 0 5px;
                    animation: dotsOpacityAnim 5s infinite;

                    &:nth-child(1){animation-delay: 0s;}
                    &:nth-child(2){animation-delay: 0.2s;}
                    &:nth-child(3){animation-delay: 0.3s;}
                    &:nth-child(4){animation-delay: 0.4s;}
                    &:nth-child(5){animation-delay: 0.5s;}
                    &:nth-child(6){animation-delay: 0.6s;}
                    &:nth-child(7){animation-delay: 0.7s;}
                    &:nth-child(8){animation-delay: 0.8s;}
                    &:nth-child(9){animation-delay: 0.9s;}
                    &:nth-child(10){animation-delay: 1s;}
                    &:nth-child(11){animation-delay: 1.1s;}
                    &:nth-child(12){animation-delay: 1.2s;}
                    &:nth-child(13){animation-delay: 1.3s;}
                    &:nth-child(14){animation-delay: 1.4s;}
                    &:nth-child(15){animation-delay: 1.5s;}
                    &:nth-child(16){animation-delay: 1.6s;}
                    &:nth-child(17){animation-delay: 1.7s;}
                    &:nth-child(18){animation-delay: 1.8s;}
                    &:nth-child(19){animation-delay: 1.9s;}
                    &:nth-child(20){animation-delay: 2s;}
                    &:nth-child(21){animation-delay: 2.1s;}
                }
            }
        }

        .list{
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;

            .item{
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                color: #fff;
                font-weight: 600;
                text-align: center;
                transition: .2s;

                .icon{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
                    transition: padding .2s;

                    .image{
                        width: 100%;
                    }
                }

                .bottom{
                    position: absolute;
                    bottom: -1rem;
                    margin: auto;
                    transition: .2s;
                }

                .link{
                    position: absolute;
                    width: 100%;
                    height: calc(100% + 1rem);
                    top: 0;
                    left: 0;
                }

                .dots-list{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin-top: 0.5rem;
                    position: absolute;
                    bottom: -1rem;
                    height: 3px;

                    .dot{
                        width: 3px;
                        height: 3px;
                        background-color: #fff;
                        border-radius: 50%;
                        margin: 0 2px;
                    }
                }

                &:hover{
                    .icon{
                        padding: 5px;
                        background-color: $secundary;
                        transform: rotateY(360deg);
                        transition: transform .7s;
                    }

                    color: $secundary;
                    transform: scale(1.1);

                    .bottom{
                        bottom: -.2rem;
                    }

                    .dots-list .dot{
                        animation: dotsAnim 1.5s infinite;

                        &:nth-child(1){animation-delay: .0s;}
                        &:nth-child(2){animation-delay: .1s;}
                        &:nth-child(3){animation-delay: .2s;}
                        &:nth-child(4){animation-delay: .3s;}
                        &:nth-child(5){animation-delay: .4s;}
                        &:nth-child(6){animation-delay: .5s;}
                        &:nth-child(7){animation-delay: .67s;}
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px){
        .colors-list{

            .list{
                flex-wrap: wrap;

                .item{
                    width: 50%;

                    .text{
                        font-size: 14px;
                    }
                }
            }
        }

        .contact{
            .title{
                padding-bottom: 3rem;

                .dots-list{
                    bottom: 2rem;
                }
            }

            .list{
                flex-wrap: wrap;

                .item{
                    width: 100%;
                    margin: 2rem 0;
                }
            }
        }
    }

    @media screen and (min-width: 1700px){
        .colors-list{
            width: 70%;
            margin: auto;
        }
    }
}